<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>

<body>
  <div class="maintitle">
    <div class="titlediv">
      Welcome to Stat - Tracker,
      {{#users}}{{username}}{{/users}}
    </div>
    <a href="/logout" class="logout">log out</a>
  </div>

  <div class="bodywrapper">

    <form class="category_input1" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 1: Click 'Back to All Categories' to Create Additional Categories</div>
      </div>
      <label class="title2a">New Category</label>
      <input autocomplete="off" disabled="disabled" class="input1" required type="text" name="category" value="go back to enter category">

      <div class="labelAndCheckbox">
        <div class="title1container4">
          <div class="title1a">Step 2: Select a Category</div>
        </div>
        <label class="title2a">Category Name:</label>


      </div>

    </form>
    <div class="activity_input">
      <form action="{{#activities}}{{category}}{{/activities}}" method="post">
        <div class="title1container">
          <div class="title1">Step 3: Use the Input Fields to Add an Activity to the Category You Selected</div>
        </div>
        <div class="formcontainer">


          <div class="formInput">

            <div class="labelAndCheckbox">
              <label class="title2">Category Name:</label>


              <div class="act">
                {{#categories}}
                  {{activity_type}}
                {{/categories}}
              </div>


            </div>

            <div class="title2">New Activity</div>
            <input autocomplete="off" class="input" required type="text" name="activity">

            <div class="title2">Quantity</div>
            <input autocomplete="off" class="input" required type="text" name="quantity">

            <div class="title2">Unit of Measurement</div>
            <input autocomplete="off" class="input" required type="text" name="metric">

            <div class="inputContainer3">

              <div class="inputContainer4">
                <div class="title2">Day of the Week</div>
                <select autocomplete="off" class="input small" required name="day_of_week">
                  <option class="grayOption" value="" disabled selected>Select Week</option>
                  <option value="Sunday" name"day_of_week">Sunday</option>
                  <option value="Monday" name"day_of_week">Monday</option>
                  <option value="Tuesday" name"day_of_week">Tuesday</option>
                  <option value="Wednesday" name"day_of_week">Wednesday</option>
                  <option value="Thursday" name"day_of_week">Thursday</option>
                  <option value="Friday" name"day_of_week">Friday</option>
                  <option value="Saturday" name"day_of_week">Saturday</option>
                </select>
              </div>

              <div class="inputContainer4">
                <div class="title2">Month</div>
                <select autocomplete="off" class="input small" required name="month">
                  <option class="grayOption" value="" disabled selected>Select Month</option>
                  <option value="January" name="month">January</option>
                  <option value="February" name="month">February</option>
                  <option value="March" name="month">March</option>
                  <option value="April" name="month">April</option>
                  <option value="May" name="month">May</option>
                  <option value="June" name="month">June</option>
                  <option value="July" name="month">July</option>
                  <option value="August" name="month">August</option>
                  <option value="September" name="month">September</option>
                  <option value="October" name="month">October</option>
                  <option value="November" name="month">November</option>
                  <option value="December" name="month">December</option>
                  </select>
              </div>

              <div class="inputContainer4">
                <div class="title2">Day</div>
                <select autocomplete="off" class="input small" required name="day">
                  <option class="grayOption" value="" disabled selected>Select Day</option>
                  <option value="1" name="day">1</option>
                  <option value="2" name="day">2</option>
                  <option value="3" name="day">3</option>
                  <option value="4" name="day">4</option>
                  <option value="5" name="day">5</option>
                  <option value="6" name="day">6</option>
                  <option value="7" name="day">7</option>
                  <option value="8" name="day">8</option>
                  <option value="9" name="day">9</option>
                  <option value="10" name="day">10</option>
                  <option value="11" name="day">11</option>
                  <option value="12" name="day">12</option>
                  <option value="13" name="day">13</option>
                  <option value="14" name="day">14</option>
                  <option value="15" name="day">15</option>
                  <option value="16" name="day">16</option>
                  <option value="17" name="day">17</option>
                  <option value="18" name="day">18</option>
                  <option value="19" name="day">19</option>
                  <option value="20" name="day">20</option>
                  <option value="21" name="day">21</option>
                  <option value="22" name="day">22</option>
                  <option value="23" name="day">23</option>
                  <option value="24" name="day">24</option>
                  <option value="25" name="day">25</option>
                  <option value="26" name="day">26</option>
                  <option value="27" name="day">27</option>
                  <option value="28" name="day">28</option>
                  <option value="29" name="day">29</option>
                  <option value="30" name="day">30</option>
                  <option value="31" name="day">31</option>
                  </select>
              </div>

              <div class="inputContainer4">
                <div class="title2">Year</div>
                <select autocomplete="off" class="input small" required name="year">
                  <option class="grayOption" value="" disabled selected>Select Year</option>
                  <option value="2017">2017</option>
                  </select>
              </div>

              <div class="timeContainerLabel">

                <div class="timeContainer">

                  <div class="inputContainer5">
                    <div class="title2">hour</div>
                    <select name="hour" autocomplete="off" class="tiny" required>
                      <option class="grayOption" value="" disabled selected>Hour</option>
                      <option value="1" name="hour">1</option>
                      <option value="2" name="hour">2</option>
                      <option value="3" name="hour">3</option>
                      <option value="4" name="hour">4</option>
                      <option value="5" name="hour">5</option>
                      <option value="6" name="hour">6</option>
                      <option value="7" name="hour">7</option>
                      <option value="8" name="hour">8</option>
                      <option value="9" name="hour">9</option>
                      <option value="10" name="hour">10</option>
                      <option value="11" name="hour">11</option>
                      <option value="12" name="hour">12</option>
                      </select>
                  </div>

                  <div class="inputContainer5">
                    <div class="title2">minute</div>
                    <select placeholder="minute" name="minute" autocomplete="off" class="tiny" required>
                      <option class="grayOption" value="" disabled selected>Min</option>
                      <option value="00" name="minute">00</option>
                      <option value="01" name="minute">01</option>
                      <option value="02" name="minute">02</option>
                      <option value="03" name="minute">03</option>
                      <option value="04" name="minute">04</option>
                      <option value="05" name="minute">05</option>
                      <option value="06" name="minute">06</option>
                      <option value="07" name="minute">07</option>
                      <option value="08" name="minute">08</option>
                      <option value="09" name="minute">09</option>
                      <option value="10" name="minute">10</option>
                      <option value="11" name="minute">11</option>
                      <option value="12" name="minute">12</option>
                      <option value="13" name="minute">13</option>
                      <option value="14" name="minute">14</option>
                      <option value="15" name="minute">15</option>
                      <option value="16" name="minute">16</option>
                      <option value="17" name="minute">17</option>
                      <option value="18" name="minute">18</option>
                      <option value="19" name="minute">19</option>
                      <option value="20" name="minute">20</option>
                      <option value="21" name="minute">21</option>
                      <option value="22" name="minute">22</option>
                      <option value="23" name="minute">23</option>
                      <option value="24" name="minute">24</option>
                      <option value="25" name="minute">25</option>
                      <option value="26" name="minute">26</option>
                      <option value="27" name="minute">27</option>
                      <option value="28" name="minute">28</option>
                      <option value="29" name="minute">29</option>
                      <option value="30" name="minute">30</option>
                      <option value="31" name="minute">31</option>
                      <option value="32" name="minute">32</option>
                      <option value="33" name="minute">33</option>
                      <option value="34" name="minute">34</option>
                      <option value="35" name="minute">35</option>
                      <option value="36" name="minute">36</option>
                      <option value="37" name="minute">37</option>
                      <option value="38" name="minute">38</option>
                      <option value="39" name="minute">39</option>
                      <option value="40" name="minute">40</option>
                      <option value="41" name="minute">41</option>
                      <option value="42" name="minute">42</option>
                      <option value="43" name="minute">43</option>
                      <option value="44" name="minute">44</option>
                      <option value="45" name="minute">45</option>
                      <option value="46" name="minute">46</option>
                      <option value="47" name="minute">47</option>
                      <option value="48" name="minute">48</option>
                      <option value="49" name="minute">49</option>
                      <option value="50" name="minute">50</option>
                      <option value="51" name="minute">51</option>
                      <option value="52" name="minute">52</option>
                      <option value="53" name="minute">53</option>
                      <option value="54" name="minute">54</option>
                      <option value="55" name="minute">55</option>
                      <option value="56" name="minute">56</option>
                      <option value="57" name="minute">57</option>
                      <option value="58" name="minute">58</option>
                      <option value="59" name="minute">59</option>
                      </select>
                  </div>

                  <div class="inputContainer5">
                    <div class="title2">am/pm</div>
                    <select name="am_pm" autocomplete="off" class="tiny" required>
                      <option class="grayOption" value="" disabled selected>am</option>
                      <option value="am" name="am_pm">am</option>
                      <option value="pm" name="am_pm">pm</option>
                      </select>
                  </div>

                </div>

              </div>

            </div>

          </div>

          <input class="form__submit-button" type="submit">

        </div>
      </form>

      <div><a class="back2cat" href="/api/home">back to all categories</a></div>

    </div>





    <div class="activityname">
      <div class="title1container">
        <div class="title1">Step 4: Click on an Activity to See More Information About a Specific Activity</div>
      </div>

      {{#activities}}

        <div class="categoryTitle">
          <span class="bold">{{category}}<span>

      </div>

      <div class="activityDateContainer">

        <div class="bold2">
          <label class="bold2label">User</label>
          <div>{{user}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Category</label>
          <div>{{category}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Activity</label>
          <div>{{activity_name}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Quantity</label>
          <div>{{quantity}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Metric</label>
          <div>{{metric}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Day</label>
          <div>{{day_of_week}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Date</label>
          <div>{{month}}, {{day}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Year</label>
          <div>{{year}}</div>
        </div>

        <div class="bold2">
          <label class="bold2label">Time</label>
          <div>{{hour}}:{{minute}}{{am_pm}}</div>
        </div>

    </div>
    {{/activities}}
    <div><a class="back2cat" href="/api/home">back to all categories</a></div>

  </div>


  </div>

</body>

</html>
