<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>

<body>
  <div class="maintitle">
    <div class="titlediv">
    Welcome to Stat - Tracker,
    {{#users}}{{username}}{{/users}}
  </div>
    <a href="/logout" class="logout" >log out</a>
  </div>

  <div class="bodywrapper">

    <form class="category_input1" action="/api/home" method="post">
      <div class="title1container2">
        <div class="title1a">Step 1: Create a New Category</div>
      </div>
      <label class="title2a">New Category</label>
      <input autocomplete="off" class="input1" required type="text" name="category" placeholder="leisure, exercise, business, etc.">


      <div class="labelAndCheckbox">
        <label class="title2a">Category Name:</label>


      </div>

      <div class="labelAndCheckbox">
        <div class="title1container3">
          <div class="title1a">Step 2: Select a Category</div>
        </div>
        <label class="title2a">Category Name:</label>


      </div>

    </form>
    <form class="activity_input2" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 3: To Add an Activity to a Specific Category, Click on a Category in the List to the Left</div>
      </div>
      <div class="formcontainer">

        <div class="formInput">
          <div class="title2a">Enter activity</div>
          <input disabled="disabled" class="input1" required type="text" name="activity" value="select category first!">

          <div class="title2a">Enter quantity completed</div>
          <input disabled="disabled" class="input1" required type="text" name="quantity" value="select category first!">

          <div class="title2a">Enter metric</div>
          <input disabled="disabled" class="input1" required type="text" name="metric" value="select category first!">

        </div>
      </div>
    </form>



    <div class="activityname">
      <div class="title1container4">
        <div class="title1">Step 4: Here are details about this activity</div>
      </div>

      <table >
        <tr >
          <th class="tabletitle">Category</th>
          {{#activities}}
            <td class="tablerow">{{category}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Activity</th>
          {{#activities}}
            <td  class="tablerow">{{activity_name}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Quantity</th>
          {{#activities}}
            <td class="tablerow">{{quantity}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Metric</th>
          {{#activities}}
            <td class="tablerow">{{metric}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Day</th>
          {{#activities}}
            <td class="tablerow">{{day_of_week}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Date</th>
          {{#activities}}
            <td class="tablerow">{{month}} {{day}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Year</th>
          {{#activities}}
            <td class="tablerow">{{year}}</td>
          {{/activities}}
        </tr>
        <tr>
          <th class="tabletitle">Time</th>
          {{#activities}}
            <td class="tablerow">{{hour}}:{{minute}}{{am_pm}}</td>
          {{/activities}}
        </tr>
      </table>
      <div><a class="back2cat" href="/api/home">back to all categories</a></div>

    </div>

  </div>
</body>

</html>
