<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>STAT-TRACKER</title>
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
</head>

<body>
  <div class="maintitle">



    <div class="loginContainer">

      <div><a class="loginlink" href="/api/login/">Login</a></div>
      <div><a class="loginlink" href="/api/signup/">Signup</a></div>

    </div>
    <div>Welcome to Stat - Tracker</div>
  </div>

  <div class="bodywrapper">

    <input class="popup" type="checkbox" checked id="modal">
<label for="modal">
  <div class="m-window">
    <div class="boldtitle1">Welcome to the Stat - Tracker App!</div>
    <div>If this is your first time here, this is how it works:</div>
    <div class="boldtitle1">1) Sign up </div><div>Sign up for a new account with a username & password.</div>
    <div class="boldtitle1">2) Log in </div><div>Log in using the username and password you created.</div>
    <div class="boldtitle1">3) Create a new category. </div> <div>All the activities you track will be grouped by categories.  So, for example, if you want to track exercises, you might create an exercise category, and then track activities within that category, including things like running, walking, or playing basketball.</div>
    <div class="boldtitle1">4) Create activities. </div><div>Once you've decided on a category, you can now add activities to that category.  You'll need to put in a lot of information about what the activity is, when you completed it, and how much of the activity you completed.  You can choose the measuring metric.  So if your activity is 'running', you might choose 'miles' as your metric.  Later, once you've logged several activities, you can compare when you completed them, what dates, and how often.</div>
    <div class="boldtitle1">5) Explore. </div><div>Back on the main screen, you can see all the activities you are tracking, and all the categories.  You can now click on a category, for information on all the activities within that category.  Or you can select an individual activity, for information on just that one.</div>
  </div>
</label>


    <form class="category_input" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 1: Create a New Category</div>
      </div>
      <label class="title2a">New Category</label>
      <input disabled="disabled" class="input1" required type="text" name="category" placeholder="please login">


      <div class="labelAndCheckbox">
        <label class="title2a">Category Name:</label>
      </div>

    </form>
    <form class="activity_input" action="/api/home" method="post">
      <div class="title1container">
        <div class="title1a">Step 2: To Add an Activity to a Specific Category, Click on a Category in the List to the Left</div>
      </div>
      <div class="formcontainer">

        <div class="formInput">
          <div class="title2a">Enter activity</div>
          <input disabled="disabled" class="input1" required type="text" name="activity" placeholder="please login">

          <div class="title2a">Enter quantity completed</div>
          <input disabled="disabled" class="input1" required type="text" name="quantity" placeholder="please login">

          <div class="title2a">Enter metric</div>
          <input disabled="disabled" class="input1" required type="text" name="metric" placeholder="please login">

        </div>
      </div>
    </form>



    <div class="activityname">
      <div class="title1container">
        <div class="title1a">Step 3: Click on an Activity to See More Information About a Specific Activity</div>
      </div>
      <label class="title2a">Activity Name:</label>
    </div>

  </div>
</body>

</html>
